.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.submitButton {
  margin-left: 10px;
  width: 80px;
}

.loading {
  padding: 15px;
}

.tableContainer {
  padding: 15px;
}

th {
  text-align: left;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}
